*{
    margin: 0;
    padding: 0;
}

.texto-destaque{
    color: blueviolet;
}

.titulo-blog{
    color: brown;
}

p{
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10%;
}

.apresentacao_links{
        
}